// typography

$font-size--base: 1rem;

// colors

$color__white: white;
$color__black: black;

$color__accent: tomato;

// gutters

$gutter--sm: .5em;
$gutter--md: 1em;
$gutter--lg: 2em;
$gutter--xlg: 4em;

// styling
$box-shadow: 0 20px 40px 0 rgba(57,41,15,0.1);
$border-radius: 4px;
$image-gradient: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 32%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 77%,rgba(0,0,0,0.3) 100%);

// sizes

$nav_main_height: 50px;
$card_height: 300px;

// transitions

$transition__base: .3s ease-in;