main {
  padding: calc(#{$nav_main_height} + #{$gutter--md}) $gutter--md $gutter--md;
}

section + section {
  padding-top: $gutter--lg;
}

img {
  object-fit: cover;
}

body[detail-active="true"] {
  overflow: hidden;
}
