.button {
  @extend .text--bold;
  text-decoration: none;
  padding: $gutter--sm;
  color: $color__black;
  margin: 0 $gutter--sm/2;
  border-radius: $border-radius;
  text-align: center;

  &--accent {
    background-color: $color__accent;
    margin: $gutter--md 0;
    color: $color__white;
  }
  
  &--white {
    background-color: $color__white;
    color: $color__accent;
    width: 100%;
    display: block;
  }

  &__inner {
    @extend %flex--center;
  }

  .ic + span,
  span + .ic {
    padding-left: $gutter--sm/2;
  }

  span {
    line-height: 1;
  }
}
