.button {
  @extend .text--bold;
  text-decoration: none;
  padding: $gutter--sm;
  color: $color__black;
  margin: 0 $gutter--sm/2;
  text-align: center;
  display: inline-block;
  border: 1px solid $color__grey;
  transition: $transition__base;
  
  
  &:hover {
    background-color: $color__accent;
    color: $color__white;
    border-color: $color__accent;
  }
  
  &--accent {
    background-color: $color__accent;
    margin: $gutter--md 0;
    color: $color__white;
  }

  &--green {
    background-color: $color__green;
    margin: $gutter--md 0;
    color: $color__white;
  }

  &--white {
    background-color: $color__white;
    color: $color__accent;
    width: 100%;
    display: block;
  }

  &--lg {
    font-size: 1em;
    padding: $gutter--lg;
  }

  &--md {
    font-size: 1em;
    padding: $gutter--md;
  }

  &--clear {
  }
  
  &--wide {
    width: 100%;
    margin: 0 0;
  }

  &__inner {
    @extend %flex--center;
  }

  .ic + span,
  span + .ic {
    padding-left: $gutter--sm/2;
  }

  span {
    line-height: 1;
  }
}


a:focus {
  background-color: $color__accent;
  color: $color__white;
}