.card {
  width: 100%;
  display: block;
  transition: $transition__base;
  position: relative;
  
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  
  &:not(.card--featured):hover {
    .card__title {
      color: $color__accent;
    }
    
  }
  &--featured {
    max-height: 400px;
    color: $color__white;
    
    .card__info {
      padding: $gutter--md;
    }
  }
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  &__description {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;  
   p {
     // margin: 0 0;
   }
  }
  
  &__short {
    // box-shadow: $box-shadow;
    padding: $gutter--sm 0;
  }
  &__top {
    position: absolute;
    top: $gutter--sm;
    left: $gutter--sm;
  }
  &__title {
    padding-bottom: $gutter--sm/2;
    transition: $transition__base;
  }

  &__label {
    margin-right: $gutter--sm/2;
  }

  &__img {
    @extend %p--abs-stretch;
    z-index: -1;
    overflow: hidden;
    
    img {
      width: 100% !important;
      height: 100%;
      filter: grayscale(100%);
      transform: scale(1);
      transition: $transition__base;
    }
  }

  &__info {
    z-index: 1;
    position: relative;
    padding: $gutter--md 0;
  }
}