// typography

$font-size--base: 1rem;

// colors

$color__white: white;
$color__black: black;
$color__grey: grey;
$color__green: green;
$color__red: red;

$color__accent: tomato;

// gutters

$gutter--sm: .5em;
$gutter--md: 1em;
$gutter--lg: 2em;
$gutter--xlg: 4em;

// styling
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$border-radius: 4px;

// sizes

$nav_main_height: 50px;
$card_height: 300px;

// transitions

$transition__base: .3s ease-in;