.header {
  background-color: $color__black;
  color: $color__white;
  padding: $gutter--md 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-review {
    margin: $gutter--lg 0;
  }
  
  &__title {
    margin-bottom: $gutter--sm;
  }
}