body {
  padding-top: 72px;
}

main {
  @extend .container;
  padding-top: $gutter--md;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.layout {
  &--detail {
    display: flex;
    flex-wrap: nowrap;

    .layout--left {
      flex: 7 70%;
      border-right: $gutter--sm solid transparent;
    }

    .layout--right {
      flex: 3 30%;
      border-left: $gutter--sm solid transparent;
    }
  }
}
