img {
  }

iframe {
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.gif {
  max-height: 40vh;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  max-width: 80%;
  margin: $gutter--md;
}