.nav {
  &-vote {
    @extend %flex--center;
    color: $color__white;
    transition: $transition__base;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate3d(0%, 0%, 0);
    
    flex-wrap: wrap;
    pointer-events: none;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;

    &__item {
      @extend %flex--center;
      padding: $gutter--sm/4 $gutter--md;
      background-color: lighten($color__black, 50%);
      color: $color__white;
      text-decoration: none;

      span {
        transition: .1s ease-in;
      }

      &.animate {
        span {
          transform: scale(1.9);
        }
      }

      &:hover {
        background-color: $color__accent;
        color: $color__white;

      }
    }
  }

  ul {
    display: flex;
  }

  &__item {
    padding: $gutter--sm $gutter--md;
    display: block;
    position: relative;

    &:before {
      content: '';
      height: $gutter--sm/4;
      position: absolute;
      bottom: $gutter--sm/2;
      left: $gutter--sm;
      background-color: $color__white;
      width: calc(100% - #{$gutter--sm*2});
      transform: translate3d(0, $gutter--sm, 0);
      opacity: 0;
      transition: $transition__base;
    }

    &:hover:before {
      transform: translate3d(0, 0px, 0);
      opacity: 1;
    }
  }
}

article *:focus ~ .nav-vote {
  opacity: 1;
  pointer-events: all;

  .nav-vote__item {
    background-color: $color__accent;
  }

}
