$font-size--base: 1rem;

// @import url('https://fonts.googleapis.com/css?family=Lato:900|Lato:700|Lato:400');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Fira Mono', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Mono', sans-serif;
  font-weight: 900;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.25em;
}

.text {
  &--bold {
    font-weight: 700;
  }

  &--small {
    font-size: .8em;
  }
  &--large {
    font-size: 1.2em;
  }
}
.t--center {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    color :$color__accent;
  }
}

article {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: $gutter--md;
    margin-bottom: $gutter--sm;
  }
}
