// These utils are extendable!!

%flex {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--end {
    display: flex;
    align-items: flex-end;
  }
}

%p {
  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--abs-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--abs-stretch {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}