.view {
  &_base {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: $transition__base;
    transform: translate3d(100%, 0%, 0);
  }
  
  &_finished {
    @extend .view_base;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0, 0%, 0);
    @extend %flex--center;
    background-color: $color__accent;
    color: $color__white;
    padding: $gutter--md;
  }
  &_pdf {
    @extend .view_base;
    background-color: $color__black;
    
  }

  &--img {
    iframe {
      @extend %p--abs-stretch;
      border: 1px solid red;
    }
  }

  &--active {
    margin: 0;
  }
}

body[view-active="pdf"] {
  .view_pdf {
    transform: translate3d(0, 0, 0);
  }
}
body[view-active="finished"] {
  .view_finished {
    opacity: 1;
    pointer-events: all;
  }
}
