<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
        <meta name="apple-mobile-web-app-capable" content="yes">


        <title>Opdracht 1</title>
        <meta name="author" content="">
        <meta name="description" content="">

        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="">


        <link rel="apple-touch-icon" sizes="180x180" href="">
        <link rel="icon" type="image/png" sizes="32x32" href="">
        <link rel="icon" type="image/png" sizes="16x16" href="">
        <link rel="mask-icon" href="" color="#000000">

        <meta name="apple-mobile-web-app-title" content="">
        <meta name="application-name" content="">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <link rel="stylesheet" href="./css/app.css">
    </head>
    <body>

        <header>
            <nav class='nav nav_main'>
                <a href="#" class='button button--ic'>
                    <div class="button__inner">
                        <i class="ic material-icons">add</i>
                    </div>
                </a>
            </nav>
        </header>

        <main>
            {{#with today}}
                <section>
                    <h2>{{title}}</h2>

                    <ul class='list list--cards'>
                        {{#each events}}
                            <li>
                                {{> card}}
                            </li>
                        {{/each}}
                    </ul>
                </section>
            {{/with }}
            {{#with soon}}
                <section>
                    <h3>{{title}}</h3>

                    <ul class='list list--cards'>
                        {{#each events}}
                            <li>
                                {{> card}}
                            </li>
                        {{/each}}
                    </ul>
                </section>
            {{/with }}
        </main>

        {{> header}}
        <script type="text/javascript" src="js/libs.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/navigo@7.1.2/lib/navigo.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
