<header>
  <nav class='nav nav_main'>
    <a href="#" class='nav_main__button button button--ic'>
      <div class="button__inner">
        <i class="ic material-icons">add</i>
      </div>
    </a>
  </nav>
  <nav class='nav nav_back'>
    <a href="#" class='nav__button button button--ic'>
      <div class="button__inner">
        <i class="ic material-icons">arrow_back_ios</i>
        <span>terug</span>
      </div>
    </a>
  </nav>
</header>