<div class="view view_pdf">
  <nav class='nav nav_back_pdf'>
    <a href="/oeps" data-navigo="data-navigo" class='nav__button button button--ic fn-nav-back'>
      <div class="button__inner">
        <i class="ic material-icons">arrow_back_ios</i>
        <span>terug</span>
      </div>
    </a>
  </nav>
  <iframe class='fn-pdf-frame' src="" width="" height=""></iframe>
  <nav class='nav nav_pdf nav--bottom'>
    <a href="/events/{{id}}/{{tickets.1.pdf}}" data-navigo="data-navigo" class='button button--accent  fn-pdf-nav'>
      <span>volgend ticket</span>
    </a>
  </nav>
</div>