<div class="view view_finished">
  <article class="t--center">
    <h2>Yes!</h2>
    <img src="" class="fn-gif gif" alt="">
    <p>Het is gelukt! Heel veel plezier op het event!</p>
    <a href="/" data-navigo="data-navigo" class='button button--white'>
      <span>Terug naar het overzicht</span>
    </a>
  </article>
</div>