<header class='header'>
  <div class="container header__container">
    <h4 class='header__title'>
      <a href="/" data-navigo>
        Everything Web | Review</a>
    </h4>
    <nav class='header__nav nav'>
      <ul>
        <li>
          <a href="/" class='nav__item' data-navigo>home</a>
        </li>
        <li>
          <a href="/review" class='nav__item' data-navigo>Up for review</a>
        </li>
      </ul>
    </nav>
  </div>
</header>