<section class='section-cards'>
  <header class='section__header'>
    <h3>
      <%= section.title %>
    </h3>
    <%if (home) { %>
    <a data-navigo href="<%= section.link %>">view all</a>
    <% } %>
  </header>
  <ul class='section__cards'>
    <%if (home) { %>
    <% section.items.slice(0, 3).forEach(function(item) { %>
    <li class='section__card'> @@include('./partials/card.ejs') </li>
    <% }); %>
    <% } else { %>
    <% section.items.forEach(function(item) { %>
    <li class='section__card'> @@include('./partials/card.ejs') </li>
    <% }); %>
    <% } %>
  </ul>
</section>